:root {
  --background: #1f2229;
  --background2: #2e303c;
  --background-button: #373945;
  --background-button2: #4b4d59;
  --yellow: #fae800;
  --gray: #bec2c6;
  --white: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Poppins', Arial, sans-serif;
  color: #fbfbfb;
  background: var(--background);
}

input,
textarea {
  font-family: 'Poppins';
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
